@using System.Collections
@using OnlineOrder
@using OnlineOrder.Mvc
@using OnlineOrder.Mvc.Grid
@using OnlineOrder.Mvc.Pagination
@using OnlineOrder.Website.Models
@model Product           

<div class="form-tab-nav">
     <ul>
         <li targ="a" class="current"><span>基本信息</span></li>
         <li targ="b" id="barcodesLi" @(ViewBag.ActionName == "Create" ?  "style=display:none" : "")><span>其他</span></li>         
     </ul>
</div>
<div class="form-tab-box">
    <div tab="a" class="tab-box-item">
        <div class="general-box">           
            @Html.SiHiddenFor(m => m.Id)                    
            @Html.SiTextBoxFor(m => m.Code)
            @Html.SiTextBoxFor(m => m.Name)               
            @Html.SiDropDownListFor(m => m.UnitId)                             
            @Html.SiUControlFor(m => m.Brand)
            @Html.SiDropDownListFor(m => m.Status)  
            @Html.SiUControlFor(m => m.Category)          
            @Html.SiTextBoxFor(m => m.SalePrice)              
            @Html.SiIdNameTextBoxFor(m => m.Oper, new { disabled = "disabled" })
            @Html.SiTextBoxFor(m => m.OperDate, new { disabled="disabled"})
            @Html.SiIdNameTextBoxFor(m => m.Modify,new { disabled="disabled"})
            @Html.SiTextBoxFor(m => m.ModifyDate, new { disabled="disabled"})
            @Html.SiTextAreaFor(m => m.Memo)
        </div>
        @Html.SiUpload("PicFileName")               
    </div>
    <div tab="b" class="tab-box-item" style="display:none" >
       
    </div>      
</div> 
