@using System.Collections
@using OnlineOrder.Mvc

@Html.Toolbar(new List<ToolbarItem>() { 
    new ToolbarItem("新增", new Hashtable(){{"class","create"}}),
    new ToolbarItem("修改", new Hashtable(){{"class","modify"}}),
    new ToolbarItem("删除", new Hashtable(){{"class","delete"}}),
    new ToolbarItem("刷新", new Hashtable(){{"class","refresh"}}),
    //new ToolbarItem("设置", new Hashtable(){{"class","setting"}}),
    //new ToolbarItem("打印", new Hashtable(){{"class","print"}}),
})

<div class="container">
    <div class="si-grid" controller="@ViewBag.ControllerName" action="@ViewBag.ActionName"> 
        @Html.Partial("_Index") 
    </div> 
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var grid = $('.si-grid').grid({title : '@ViewBag.ModelName'});
        $('tbody tr', '.si-grid').live('dblclick', function () {
            grid.doAction('modify');
        })
        $('.si-btn', '.si-tbar').live('click', function () {
            var action = $(this).attr('class').replace('si-btn ', '');  //james
            grid.doAction(action);
        })

    });
</script> 
